{% extends 'base.html.twig' %}

{% block title %}Poll index{% endblock %}

{% block body %}
    <h1>Poll index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>CustomUrl</th>
                <th>Description</th>
                <th>CreationDate</th>
                <th>ExpiracyDate</th>
                <th>Kind</th>
                <th>AllowedAnswers</th>
                <th>ModificationPolicy</th>
                <th>MailOnComment</th>
                <th>MailOnVote</th>
                <th>HideResults</th>
                <th>ShowResultEvenIfPasswords</th>
                <th>Password</th>
                <th>AdminKey</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poll in polls %}
            <tr>
                <td>{{ poll.id }}</td>
                <td>{{ poll.title }}</td>
                <td>{{ poll.customUrl }}</td>
                <td>{{ poll.description }}</td>
                <td>{{ poll.creationDate ? poll.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ poll.expiracyDate ? poll.expiracyDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ poll.kind }}</td>
                <td>{{ poll.allowedAnswers ? poll.allowedAnswers|join(', ') : '' }}</td>
                <td>{{ poll.modificationPolicy }}</td>
                <td>{{ poll.mailOnComment ? 'Yes' : 'No' }}</td>
                <td>{{ poll.mailOnVote ? 'Yes' : 'No' }}</td>
                <td>{{ poll.hideResults ? 'Yes' : 'No' }}</td>
                <td>{{ poll.showResultEvenIfPasswords ? 'Yes' : 'No' }}</td>
                <td>
                    {% if  poll.password %}
                        (***) oui, caché
                    {% endif %}
                </td>
                <td>{{ poll.adminKey }}</td>
                <td>
                    <a href="{{ path('poll_show', {'id': poll.id}) }}">show</a>
                    <a href="{{ path('poll_edit', {'id': poll.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('poll_new') }}">Create new</a>
{% endblock %}
