{% block footer %}
    <footer>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </footer>
{% endblock %}
