{% block header %}

    <header class="bg-purple-300 p-4 block">
        <div class="container">

            <nav>
                <ul>
                    <li>
                        <a class="btn button rounded bg-purple-200 p-2" href="/">
                            <i class="fa fa-home"></i>
                            <img src="{{ WEBSITE_LOGO }}" alt="logo">
                            {{ WEBSITE_NAME }}

                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}
