{#[Framadate][Réservé à l'auteur] Sondage: TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}
    <h1>

        Ce message ne doit PAS être diffusé aux sondés. Il est réservé à l'auteur du sondage.
    </h1>
    <br>
    <h2>
        Vous pouvez modifier ce sondage à l'adresse suivante :
    </h2>
    <br>
    {% include 'emails/partial/admin_link.html.twig' %}
    <br>
    Pour partager votre sondage aux participants, utilisez son lien d'accès public que vous avez reçu dans un autre email.
    <br>

    {% if poll.password %}
        Ce sondage est protégé par un mot de passe, n'oubliez pas de le communiquer à vos participants.
        Vous pouvez changer ce mot de passe via l'administration.
    {% else %}

    {% endif %}

{% endblock %}
