{#[Framadate][Pour diffusion aux sondés] Sondage: TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}


    Suite à la création de votre sondage {{ title }} vous recevez deux emails afin de ne pas transmettre par erreur aux sondés le lien d'administration de votre sondage.
    <br>
    Ce mail est le premier, comportant le message qui doit être envoyé aux sondés.<br>

    Vous pouvez maintenant transmettre ce message à toutes les personnes susceptibles de participer au vote.<br>

    <br>
    <fieldset>

        <blockquote>
            <i>

                {{ owner.pseudo }} ( {{ owner.email }} ) vient de créer un sondage intitulé : " <strong>{{ title }}
                    "</strong>.
                <br>
                <br>
                Merci de bien vouloir participer au sondage à l'adresse suivante :<br>

            </i>
            {% include 'emails/partial/public_link.html.twig' %}

        </blockquote>
    </fieldset>

{% endblock %}
