{#[Framadate][Réservé à l'auteur] Sondage: TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}

    <h2>

        Voici la liste des {{ owner.polls|length }} sondages
        <a href="{{ BASE_URL }}">
            Framadate
        </a>
        que vous avez créé.
    </h2>
    <div>
        Si vous n'avez pas demandé à recevoir cet email, veuillez en informer les administrateurs du site Framadate.
    </div>
    <hr>
    <ul style="list-style-type: none">
        {% for poll in owner.polls %}
            <li class="poll-element" style="border: solid 1px #ccc; padding: 1em; margin-top: 1em;">
                {% include 'emails/partial/poll.html.twig' %}
            </li>
        {% endfor %}
    </ul>


{% endblock %}
