<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="styles.css" crossorigin="anonymous">

    <title>{% block title %}Framdate{% endblock %}</title>
{#    {% block stylesheets %}#}
{#        <link rel="stylesheet" href="{{ asset('build/vendors~app.css') }}">#}
{#        <link rel="stylesheet" href="{{ asset('build/app.css') }}">#}
{#    {% endblock %}#}
</head>
<body>
{% include 'split/header.html.twig' %}

{% block outerBody %}
    <div class="container">

        {% block body %}

        {% endblock %}
    </div>
{% endblock %}
{% include 'split/footer.html.twig' %}
{# {% block javascripts %} #}
{# <script href="{{ asset('build/vendors~app.js') }}"></script> #}
{# <script href="{{ asset('build/app.js') }}"></script> #}
{# {% endblock %} #}
</body>
</html>
