<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Framadate</title>
    <base href="/">
    <meta
            content="width=device-width, initial-scale=1"
            name="viewport">
    <link
            href="favicon.ico"
            rel="icon"
            type="image/x-icon">

    <link
            rel="stylesheet"
            href="assets/css/bootstrap-reboot-4.3.1.css">
    <link
            rel="stylesheet"
            href="styles.css"
            crossorigin="anonymous">
</head>
<body>
<app-root></app-root>
<footer id="main-footer" class="text-center">
    <a href="https://framagit.org/tykayn/date-poll-api">
        Sources
        <i class="fa fa-gitlab"></i>
    </a>
    <a href="mailto:contact@cipherbliss.com">
        Contact
        <i class="fa fa-envelope"></i>
    </a>
</footer>
<script
        src="runtime-es2018.js"
        crossorigin="anonymous"
        type="module"></script>
<script
        src="runtime-es5.js"
        crossorigin="anonymous"
        nomodule
        defer></script>
<script
        src="polyfills-es5.js"
        crossorigin="anonymous"
        nomodule
        defer></script>
<script
        src="polyfills-es2018.js"
        crossorigin="anonymous"
        type="module"></script>
<script
        src="scripts.js"
        crossorigin="anonymous"
        defer></script>
<script
        src="main-es2018.js"
        crossorigin="anonymous"
        type="module"></script>
<script
        src="main-es5.js"
        crossorigin="anonymous"
        nomodule
        defer></script>
</body>
</html>
