<span class="public-link">
	{% if poll.customUrl |length %}
        <a href="{{ BASE_URL }}/#/vote/poll/key/{{ poll.customUrl }}">
                {{ BASE_URL }}/#/vote/poll/key/{{ poll.customUrl }}
            </a>
        {% else %}
        <a href="{{ BASE_URL }}/#/vote/poll/id/{{ poll.id }}">
                {{ BASE_URL }}/#/vote/poll/id/{{ poll.id }}
            </a>
    {% endif %}
</span>
